:root {
  --blue-hover: #404bbf;
  --iris: #4d5ae5;
  --dark: #2e2f42;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

li {
  list-style: none;
}
.color-rule-header {
  color: #2e2f42;
}
.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.hero-section {
  background: var(--dark);
}

.heading-two {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark);
  text-transform: capitalize;
}

.heading-three {
  line-height: 1.2;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
}

.hero-section,
.team-section > .heading-two,
.portfolio-section > .heading-two {
  text-align: center;
}

.hero-section > .heading-one {
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-button {
  background-color: var(--iris);
  color: #fff;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--blue-hover);
}

.navigation-class .link {
  color: #2e2f42;
  font-weight: 500;
}

.address-section,
.contact-item > .link {
  color: #434455;
  font-style: normal;
}

.contact-item > a,
.nav-item > a {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.info-item {
  color: #434455;
}

.hero-section > .heading-one {
  font-size: 56px;
  max-width: 496px;
  margin: 48px auto;
  color: #fff;
}

.team-section {
  background: #f4f4fd;
}

.team-section ul > li {
  background-color: #fff;
}

.footer-section {
  background: var(--dark);
}

.footer-section > .logo-studio {
  color: #fff;
}

.footer-info-item {
  color: #f4f4fd;
}
